.image-header {
  height: 40vh;

  swiper-container,
  swiper-slide {
    height: 100%;
    width: 100%;
  }

  swiper-slide {
    background: var(--color-neutral-600) center center no-repeat;
    background-size: cover;
  }
}

.event-title {
  overflow: hidden;
  color: var(--color-green-100);
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 91.667% */
}

.event-club {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 11px; /* 68.75% */
  letter-spacing: 0.4px;
}

.map-title {
  .title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .address {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
  }
}
