ion-content {
  --padding-bottom: calc(75px + var(--ion-safe-area-bottom));

  > div {
    margin-bottom: calc(75px + var(--ion-safe-area-bottom));
  }
}

#list-button-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;

  ion-button {
    width: 75%;
    margin-left: 12.5%;
  }
}

ion-modal {
  --border-radius: 20px 20px 0px 0px;
  --background: black;

  .title {
    vertical-align: middle;
    color: var(--neutral-50-brand, #fafafa);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

ion-modal::part(content) {
  background: var(--neutral-20016, rgba(190, 190, 190, 0.16));
  backdrop-filter: blur(50px);
}

.label {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px; /* 91.667% */
  letter-spacing: 1px;
}
