<ion-header class="ion-no-border transparent absolute">
	<ion-toolbar class="py-6">
		<ion-buttons slot="start">
			<ion-fab-button (click)="goBack()"
				class="button m-3 mr-0-i w-9 h-9"
				routerDirection="back">
				<ion-icon name="arrow-back"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button>
			<!-- <ion-button (click)="goBack()"
				color="light"
				size="icon-only"
				fill="clear">
				<ion-icon name="arrow-back-sharp"></ion-icon>
			</ion-button> -->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div>
		<event-detail [party]="party" [hi]
			[cardOptions]="config"></event-detail>
	</div>
	<div *ngIf="party?.isWaitingList"
		id="list-button-wrapper">
		<ion-button (click)="listModal.present()"
			color="primary"
			shape="round">
			<ion-icon name="document-text"
				class="mr-2"></ion-icon>
			{{party?.participation!.pr ? 'MODIFICA LISTA' : 'METTITI IN LISTA'}}
		</ion-button>
	</div>
</ion-content>

<ion-modal #listModal
	class="auto-height bottom">
	<ng-template>
		<div class="p-5">
			<div class="flex space-between items-center header">
				<div class="title flex align-center flex-1">
					<div>Mettiti in lista</div>
				</div>
				<div class="close">
					<ion-button (click)="listModal.dismiss()"
						size="icon-only"
						fill="clear"
						color="light">
						<ion-icon name="close"></ion-icon>
					</ion-button>
				</div>
			</div>
			<div class="body flex gap-4 space-between mt-8">
				<div class="flex-2">
					<ion-label class="label mb-2">PR di riferimento</ion-label>
					<ion-item lines="none">
						<ion-input [(ngModel)]="party?.participation!.pr"
							name="pr"
							required
							placeholder>
						</ion-input>
					</ion-item>
				</div>
				<div class="flex-1">
					<ion-label class="label mb-2">Partecipanti</ion-label>
					<ion-item lines="none">
						<ion-input [(ngModel)]="party?.participation!.participants"
							name="partecipants"
							type="number"
							max="10"
							required
							placeholder>
						</ion-input>
					</ion-item>
				</div>

			</div>
			<div class="flex space-between footer my-8">
				<ion-button (click)="listModal.dismiss()"
					class="flex-1"
					shape="round"
					color="dark">
					CHIUDI
				</ion-button>
				<ion-button (click)="createOrUpdatePartecipation(listModal)"
					class="flex-1"
					shape="round"
					color="primary">
					SALVA
				</ion-button>
			</div>
		</div>
	</ng-template>
</ion-modal>
