#users-grid {
  display: flex;
  flex-wrap: wrap;
  max-height: 75vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow-y: auto;

  .user-item {
    flex: 1 0 calc(25% - 0.25rem);
    margin: 0.25rem;
  }
}
ion-modal.blur {
  --background: rgba(18, 18, 18, 0.6);
  --border-radius: 20px 20px 0 0;
  --background: transparent;

  ion-list,
  ion-item {
    --background: transparent;
    background: transparent;
  }

  ion-item {
    margin-right: 1rem;
  }

  ion-list {
    margin-bottom: 2rem;
  }
}

ion-modal::part(content) {
  background: var(--neutral-20016, rgba(190, 190, 190, 0.16));
  backdrop-filter: blur(50px);
}

.title {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
