ion-content {
  --background: linear-gradient(
      116deg,
      rgba(127, 50, 205, 0.6) 0%,
      rgba(5, 2, 9, 0.6) 10%
    ),
    #050209;
}

ion-card {
  --background: var(--neutral-20016, rgba(190, 190, 190, 0.16));
  backdrop-filter: blur(50px);
  --border-radius: 1rem;

  ion-content {
    min-height: 250px;
  }
}

.order-list {
  margin: 0 1rem;
  margin-top: 2rem;

  .header {
    margin: 0.5rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--neutral-50-brand, #fafafa);
    /* Body/Primary-14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
  }

  .item {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.1);

    .n-item {
      color: var(--color-neutral-50, #fafafa);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 91.667% */
    }

    .table-name {
      color: var(--Title---2nd, #5c5c5c);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 128.571% */
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }

    .total {
      text-align: right;
      color: var(--btn---2nd, #9c9c9c);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 122.222% */
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  .title {
    color: var(--color-neutral-50, #fafafa);
    /* Headings/H3 */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 107.143% */
  }

  .list {
    overflow: hidden;
    color: var(--btn---2nd, #9c9c9c);
    text-overflow: ellipsis;

    /* Body/Primary-14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */

    .total {
      color: var(--btn---2nd, #9c9c9c);

      /* Subtitle/Secondary-20 */
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 110% */
      letter-spacing: -0.5px;
    }
  }

  .status {
  }
}

ion-chip {
    border-radius: 6px;
    padding: 8px 10px;
}

#list {
  margin-top: calc(80px + var(--ion-safe-area-top));
}