<ion-content [ngClass]="{ 'force-transparent': !storySource && cameraReady }"
	[fullscreen]="true"
	(next)="goBack()"
	swipe>
	<recording-video-preview #recordingVideoPreview
		*ngIf="isReady"
		(close)="dismiss()"
		(cameraInitialize)="cameraReady = true"
		(pictureCreated)="cameraReady = false"
		(mediaCreated)="mediaCreated($event)"></recording-video-preview>

	<div *ngIf="completed" id="hurra"
		class="flex align-center">
		<div class="m-0-auto">
			<div class="ion-text-center">
				<ion-icon [ngStyle]="{ '--fill': 'var(--color-neutral-50)', 'font-size': '120px' }"
					src="../../../assets/icons/guy-walk.svg"></ion-icon>
			</div>
			<div class="title mt-8">{{'APP.STORY.SUPER' | translate}}</div>
			<div class="subtitle mt-4">
				{{'APP.STORY.SUPER_sub' | translate}}
			</div>
			<div class="mt-12 ion-text-center mb-8">
				<ion-button [routerLink]="'/home'"
					(click)="dismiss();"
					color="light"
					shape="round">
					{{'APP.CLOSE' | translate}}
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>
