<div id="list">
	<div *ngIf="!headerOpts?.hidden"
		id="header">
		<div>
			<div class="title">
				{{headerOpts?.title}}
			</div>
			<div class="subtitle">
				{{headerOpts?.subtitle}}
			</div>
		</div>
		<div *ngIf="headerOpts?.avatar"
			[ngStyle]="{'backgroundImage': 'url(' + headerOpts?.avatar}"
			class="avatar"></div>
	</div>
	<div id="body">
		<ng-container *ngIf="parties">
			<ion-item *ngFor="let party of parties"
				(click)="goto(party)"
				detail="false"
				lines="none">
				<ion-thumbnail slot="start">
					<img [src]="party.cover.url">
				</ion-thumbnail>
				<ion-label>
					<div class="chips-info">
						<ion-chip class="dark-light">
							<ion-icon color="light"
								name="calendar-sharp"></ion-icon>
							<ion-label>
								{{party?.from | date:'dd LLL'}}
							</ion-label>
						</ion-chip>
						<ion-chip class="ml-2-i dark">
							<ion-icon color="light"
								name="location"></ion-icon>
							<ion-label>
								{{party?.club?.name}}
							</ion-label>
						</ion-chip>
					</div>
					<div class="title">{{party.title}}</div>
				</ion-label>
			</ion-item>
		</ng-container>
	</div>
	<div *ngIf="!footerOpts?.hidden"
		id="footer">
		<ion-button color="light"
			expand="block"
			shape="round" (click)="more.emit()">
			ALTRI EVENTI
		</ion-button>
	</div>
</div>
