<ion-header class="ion-no-border transparent absolute">
	<ion-toolbar class="p-6 pl-0-i">
		<ion-buttons slot="start">
			<ion-fab-button (click)="goBack()"
				class="button m-3 w-9 h-9"
				routerDirection="back">
				<ion-icon name="arrow-back"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button>
			<!-- <ion-button (click)="goBack()"
				color="light"
				size="icon-only"
				fill="clear">
				<ion-icon name="arrow-back-sharp"></ion-icon>
			</ion-button> -->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="image-header relative">
		<ion-skeleton-text *ngIf="!covers"
			[animated]="true"
			style="height: 100%;"></ion-skeleton-text>
		<swiper-container *ngIf="covers"
			pagination="false"
			slides-per-view="1"
			space-between="0"
			autoplay-delay="2000"
			speed="1000"
			autoplay-disable-on-interaction="false"
			loop="true">
			<swiper-slide *ngFor="let img of covers"
				[ngStyle]="{ backgroundImage: 'linear-gradient(179deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 1) 100%), url(' + img?.url + ')'}">

			</swiper-slide>
		</swiper-container>
		<div class="flex align-center space-between absolute w-full px-4"
			style="bottom: 12px; z-index: 1;">
			<div class="info-club">
				<ion-chip (click)="isFollowing ? modal.present() : undefined"
					class="dark"
					style="margin-bottom: 1rem;">
					<!-- <ion-icon color="light"
							name="calendar-sharp"></ion-icon> -->
					<ion-label>
						<ion-icon name="ellipse"
							style="font-size: 0.5rem;"></ion-icon>
						{{rating}}/5
					</ion-label>
				</ion-chip>
				<div class="title">{{club?.name}}</div>
				<div class="location mt-3">
					{{club?.address?.city}}
				</div>
			</div>
			<div>
				<ion-avatar *ngIf="profile">
					<img [src]="profile?.url"
						style="object-fit: cover;"
						onerror="src = 'assets/icons/guy-walk.svg'; style.objectFit = 'contain'">
				</ion-avatar>
			</div>
		</div>
	</div>
	<div class="px-4 mt-2">
		<div class="flex gap-2">
			<ion-button (click)="openModal(followersModal.modal)"
				color="dark"
				class="flex-2">
				{{club?.followerCount}}
				<ion-icon name="people"
					slot="end"></ion-icon>
			</ion-button>
			<ion-button *ngIf="!isFollowing"
				(click)="followClub()"
				class="flex-1"
				color="primary">
				{{'APP.CLUB_DETAIL.FOLLOW' | translate}}
			</ion-button>
			<ion-button *ngIf="isFollowing"
				(click)="unfollowClub()"
				class="flex-1"
				color="dark">
				{{'APP.CLUB_DETAIL.FOLLOWING' | translate}}
			</ion-button>
		</div>

		<!-- INFO LOCALI -->
		<div class="paragraph mt-12">
			<div class="title">Info</div>
			<div class="description">
				{{club?.description}}
			</div>
		</div>

		<!-- LOCALI CONTACTS -->
		<div class="paragraph mt-12 w-full">
			<div class="title">
				{{'APP.CLUB_DETAIL.CONTACTS' | translate}}
			</div>
			<div class="description flex w-full mt-1">
				<div class="flex-1">
					<div *ngIf="club?.email"
						(click)="openOnBrowser('mailto:'+club?.email)"
						class="mt-1">
						<ion-icon name="mail"></ion-icon>
						{{club?.email}}
					</div>
					<div *ngIf="club?.phone"
						(click)="openOnBrowser('tel:'+club?.phone)"
						class="mt-1">
						<ion-icon name="phone-portrait"></ion-icon>
						{{club?.phone}}
					</div>
					<div *ngIf="club?.socials?.['instagram']"
						(click)="openOnBrowser(club?.socials?.['instagram']?.['link'] + '')"
						class="mt-1">
						<ion-icon name="logo-instagram"></ion-icon>
						{{club?.socials?.['instagram']?.['username']}}
					</div>
					<div *ngIf="club?.socials?.['facebook']"
						(click)="openOnBrowser(club?.socials?.['facebook']?.['link'] + '')"
						class="mt-1">
						<ion-icon name="logo-facebook"></ion-icon>
						{{club?.socials?.['facebook']?.['username']}}
					</div>
					<div *ngIf="club?.socials?.['twitter']"
						(click)="openOnBrowser(club?.socials?.['twitter']?.['link'] + '')"
						class="mt-1">
						<ion-icon name="logo-twitter"></ion-icon>
						{{club?.socials?.['twitter']?.['username']}}
					</div>
				</div>
			</div>
		</div>

		<!-- EVENT MAP -->
		<div class="mt-12 mb-4 flex space-between map-title">
			<div class="title">DOVE</div>
			<div (click)="navigateToParty()"
				class="address">
				{{club?.address?.street}}, {{club?.address?.streetNumber}}
			</div>
		</div>
		<div *ngIf="center && club?.address?.lat && club?.address?.lng"
			style="border-radius: 1rem; overflow: hidden;">
			<google-map [options]="options"
				[center]="center"
				[zoom]="16"
				[height]="250"
				[width]="'100%'"
				(mapClick)="navigateToParty()">
				<map-marker [position]="center"
					(mapClick)="navigateToParty()"></map-marker>
			</google-map>
		</div>

		<!-- TAGS -->
		<div class="mt-12">
			<easy-card-slider [parties]="parties || []"
				[title]="'APP.CLUB_DETAIL.NEXT_EVENTS' | translate"
				(partyClick)="goto($event)"></easy-card-slider>
		</div>
	</div>
</ion-content>
<follower-modal #followersModal
	[followers]="followers"
	[title]="'APP.CLUB_DETAIL.FOLLOWERS' | translate"></follower-modal>

<ion-modal #modal
	id="full-immersion-modal"
	trigger="open-custom-dialog">
	<ng-template>
		<ion-fab-button (click)="modal.dismiss();"
			class="button m-3 mr-0-i w-9 h-9 absolute z-2000 right-4">
			<ion-icon name="close"
				style="font-size: 1rem;"></ion-icon>
		</ion-fab-button>

		<div class="wrapper p-8">
			<div class="title">
				{{'APP.CLUB_DETAIL.REVIEW_TITLE' | translate}}
			</div>
			<div class="my-10 subtitle">
				{{'APP.CLUB_DETAIL.REVIEW_SUBTITLE' | translate}}
			</div>
			<div id="score">
				<div>
					<div [ngStyle]="{ background: score > 0 ? 'white' : 'transparent' }"
						(click)="setScore(1)"
						class="flex items-center">
						<ion-icon src="assets/icons/equalizer.svg"
							color="light"></ion-icon>
					</div>
					<div [ngStyle]="{ background: score > 1 ? 'white' : 'transparent' }"
						(click)="setScore(2)"
						class="flex items-center">
						<ion-icon src="assets/icons/equalizer.svg"
							color="light"></ion-icon>
					</div>
					<div [ngStyle]="{ background: score > 2 ? 'white' : 'transparent' }"
						(click)="setScore(3)"
						class="flex items-center">
						<ion-icon src="assets/icons/equalizer.svg"
							color="light"></ion-icon>
					</div>
					<div [ngStyle]="{ background: score > 3 ? 'white' : 'transparent' }"
						(click)="setScore(4)"
						class="flex items-center">
						<ion-icon src="assets/icons/equalizer.svg"
							color="light"></ion-icon>
					</div>
					<div [ngStyle]="{ background: score > 4 ? 'white' : 'transparent' }"
						(click)="setScore(5)"
						class="flex items-center">
						<ion-icon src="assets/icons/equalizer.svg"
							color="light"></ion-icon>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</ion-modal>
