<ion-content class="register">
	<div class="header">
		<img src="../../assets/easydance-nologo.svg">
	</div>
	<div class="modal-content">
		<div class="header-modal">
			<div class="title">
				{{currentStep.title}}
			</div>
		</div>
		<!-- <pre>
			{{getFormValidationErrors() | json}}
		</pre> -->
		<swiper-container #wizard
			class="flex-1 swiper-no-swiping"
			pagination="false"
			id="wizard">

			<!-- EMAIL -->
			<swiper-slide>
				<form #formStep0="ngForm"
					[validators]="validators0"
					class="py-12">
					<div>
						<ion-item class="mt-2"
							lines="none">
							<ion-input [(ngModel)]="user.email"
								type="email"
								name="email"
								required
								label="Email"
								labelPlacement="floating"></ion-input>
						</ion-item>
						<div *ngIf="getFormValidationErrors().email?.['invalid-email-format']"
							class="error">
							<ion-text color="danger">
								<small>
									{{getFormValidationErrors().email?.['invalid-email-format']}}
								</small>
							</ion-text>
						</div>
					</div>
				</form>
				<!-- <div id="tec"
					class="absolute bottom-2 left-0 px-4">
					Cliccando su “prosegui” accetterai i Termini & Condizioni d’uso e Privacy & Cookie Policy
				</div> -->
			</swiper-slide>

			<!-- CHANGE PASSWORD -->
			<swiper-slide>
				<form #formStep1="ngForm"
					[validators]="validators1"
					class="py-12">
          <div>
            <ion-item class="mt-2"
							lines="none">
							<ion-input [type]="'text'"
								[(ngModel)]="otp"
								name="otp"
								required
								label="OTP"
								labelPlacement="floating"></ion-input>
						</ion-item>
          </div>
					<div class="mt-8">
						<ion-item class="mt-2"
							lines="none">
							<ion-input [type]="showPassword ? 'text' : 'password'"
								[(ngModel)]="user.password"
								name="password"
								required
								label="Password"
								labelPlacement="floating"></ion-input>

							<ion-icon [name]="showPassword ? 'eye-off' : 'eye'"
								(click)="showPassword = !showPassword"
								slot="end"></ion-icon>
						</ion-item>
						<ion-item class="mt-2"
							lines="none">
							<ion-input [type]="showPassword ? 'text' : 'password'"
								[(ngModel)]="user.confirmPassword"
								[errorText]
								name="confirmPassword"
								required
								label="Conferma password"
								labelPlacement="floating"></ion-input>
							<ion-icon [name]="showPassword ? 'eye-off' : 'eye'"
								(click)="showPassword = !showPassword"
								slot="end"></ion-icon>
						</ion-item>
						<div *ngIf="!getFormValidationErrors().confirmPassword?.['not-same-values'] && getFormValidationErrors().password?.['invalid-password-format']"
							class="error">
							<ion-text color="danger">
								<small>
									{{getFormValidationErrors().password?.['invalid-password-format']}}
								</small>
							</ion-text>
						</div>
						<div *ngIf="getFormValidationErrors().confirmPassword?.['not-same-values']"
							class="error">
							<ion-text color="danger">
								<small>
									{{getFormValidationErrors().confirmPassword?.['not-same-values']}}
								</small>
							</ion-text>
						</div>
					</div>
				</form>
			</swiper-slide>

		</swiper-container>

	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-toolbar class="ion-no-border">
		<div class="flex align-center">
			<ion-button (click)="goBack()"
				class="flex-1"
				shape="round"
				expand="block"
				color="neutral-500">
				Annulla
			</ion-button>
			<ion-button (click)="goNext(wizard)"
				class="flex-1"
				shape="round"
				expand="block"
				color="primary">
				{{currentStep.nextLabel}}
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>

<ion-modal #hurraModal>
	<ng-template>
		<div id="hurra"
			class="flex align-center">
			<div class="m-0-auto">
				<div class="ion-text-center">
					<ion-icon [ngStyle]="{ '--fill': 'var(--color-neutral-50)', 'font-size': '120px' }"
						src="../../../assets/icons/guy-walk.svg"></ion-icon>
				</div>
				<div class="title mt-8">
					SUUUPER!
				</div>
				<div class="subtitle mt-4">
					La password è stata cambiata con successo.
					<br>
					Effettua la login per accedere!
				</div>
				<div class="mt-12 ion-text-center mb-8">
					<ion-button [routerLink]="'/login'"
						(click)="hurraModal.dismiss()"
						color="light"
						shape="round">
						VAI ALLA LOGIN
					</ion-button>
				</div>
			</div>
		</div>
	</ng-template>
</ion-modal>
