<div id="filters"
		class="mt-20">
		<ion-card (click)="partiesUtils.CommonFilterActions.Today(); select.emit()"
			class="square">
			<div class="content">
				<div>
					<ion-icon color="light"
						name='calendar-outline'></ion-icon>
				</div>
				<div class="body">
					<div>{{'APP.FILTERS.TODAY' | translate}}</div>
					<div>
						{{'APP.FILTERS.TODAY_SUB' | translate}}
					</div>
				</div>
			</div>
		</ion-card>

		<ion-card (click)="partiesUtils.CommonFilterActions.Weekend(); select.emit()"
			class="square">
			<div class="content">
				<div>
					<ion-icon color="light"
						name='calendar-outline'></ion-icon>
				</div>
				<div class="body">
					<div>{{'APP.FILTERS.WEEKEND' | translate}}</div>
					<div>
						{{'APP.FILTERS.WEEKEND_SUB' | translate}}
					</div>
				</div>
			</div>
		</ion-card>
		<ion-card (click)="partiesUtils.CommonFilterActions.Saved(); select.emit()"
			class="square">
			<div class="content">
				<div>
					<ion-icon color="light"
						name='bookmark'></ion-icon>
				</div>
				<div class="body">
					<div>{{'APP.FILTERS.SAVED' | translate}}</div>
					<div>
						{{'APP.FILTERS.SAVED_SUB' | translate}}
					</div>
				</div>
			</div>
		</ion-card>
		<ion-card (click)="partiesUtils.CommonFilterActions.FavoritesClubs(); select.emit()"
			class="square">
			<div class="content">
				<div>
					<ion-icon color="light"
						name='wine'></ion-icon>
				</div>
				<div class="body">
					<div>{{'APP.FILTERS.CLUBS' | translate}}</div>
					<div>
						{{'APP.FILTERS.CLUBS_SUB' | translate}}
					</div>
				</div>
			</div>
		</ion-card>
		<ion-card (click)="partiesUtils.CommonFilterActions.ForYou(); select.emit()"
			class="square">
			<div class="content">
				<div>
					<ion-icon color="light"
						name='sparkles'></ion-icon>
				</div>
				<div class="body">
					<div>{{'APP.FILTERS.FOR_YOU' | translate}}</div>
					<div>
						{{'APP.FILTERS.FOR_YOU_SUB' | translate}}
					</div>
				</div>
			</div>
		</ion-card>
		<ion-card (click)="partiesUtils.CommonFilterActions.Today(); select.emit()"
			id="all-events"
			class="square">
			<div class="content h-full flex align-center">
				<div class="m-0-auto">{{'APP.FILTERS.ALL_EVENTS' | translate}}</div>
			</div>
		</ion-card>
	</div>