<search-header #searchHeader></search-header>
<ion-content [fullscreen]="true">
	<ion-refresher [pullFactor]="0.5"
		[pullMin]="150"
		[pullMax]="200"
		(ionRefresh)="refresh($event)"
		slot="fixed">
		<ion-refresher-content [refreshingText]="'APP.LOADING' | translate"
			pullingIcon="chevron-down-circle-outline"
			pullingText
			refreshingSpinner="crescent">
		</ion-refresher-content>
	</ion-refresher>
	<div class="bg"></div>
	<div *ngIf="'STORIES_FEATURE' | globalEnv:false"
		class="mt-4 mb-4">
		<stories-widget #storyWidget
			*ngIf="isAuthenticated"
			(newStory)="makeStory()"
			(userClick)="handleStories($event)"></stories-widget>
	</div>
	<div>
		<div [innerHTML]="city ? ('APP.HOME.TITLE_CLUB' | translate:({ city })) : ('APP.HOME.TITLE_CLUB_ALT' | translate)"
			class="title-big my-4 mb-8">
		</div>
		<div *ngIf="topClubs && topClubs.length === 0">
			<easy-thats-all></easy-thats-all>
		</div>
		<ng-container *ngIf="!topClubs">
			<div id="skeleton">
				<div *ngFor="let number of [0,1,2]">
					<ion-skeleton-text animated="true"
						class="square mt-5">
						<div class="content"></div>
					</ion-skeleton-text>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="topClubs?.length || 0 > 0">
			<div>
				<easy-card-list *ngIf="topClubs"
					[clubs]="topClubs"
					(partyClick)="goToEvent($event)"></easy-card-list>
			</div>
			<!-- <div *ngIf="topClubs"
				class="mt-16">
				<div class="home-title ion-text-left mb-1">
					{{'APP.HOME.LAST_CHANCE' | translate}}
				</div>
				<div class="home-subtitle mb-4">
					{{'APP.HOME.LAST_CHANCE_SUB' | translate}}
				</div>
				<easy-card-slider [clubs]="topClubs"
					[rightText]="'APP.SHOW_ALL' | translate"
					(rightButton)="moreEvents()"
					(clubClick)="goToClub($event)"></easy-card-slider>
			</div> -->
		</ng-container>
		<div *ngIf="clubs"
			class="mt-16">
			<ng-container *ngFor="let club of clubs">
				<items-list *ngIf="club.parties?.length"
					[headerOpts]="{ title: club.name, subtitle: club.address?.city, avatar: club.profile?.url}"
					[parties]="club.parties"
					(more)="goToClubsEventsList(club)"></items-list>
			</ng-container>
		</div>
		<div class="mt-20">
			<events-filters></events-filters>
		</div>
	</div>
</ion-content>
