:root {
  @font-face {
    font-family: "Space Grotesk";
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
  }

  --ion-background-color: var(--color-neutral-600);
  --ion-background-color: black;
  --ion-font-family: "Space Grotesk";
  --ion-text-color: var(--color-neutral-50);

  /** HEADER **/
  ion-header.blured {
    ion-toolbar {
      --background: linear-gradient(
        179deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.58) 93.61%
      );
      backdrop-filter: blur(50px);
    }
  }

  ion-header.transparent {
    ion-toolbar {
      --background: transparent;
    }
  }

  /** FOOTER **/
  ion-app:has(easy-tabs) > ion-router-outlet > * > ion-content {
    --padding-bottom: 80px;
  }

  /** ION-INPUT **/
  ion-item:has(ion-input),
  ion-item:has(ion-datetime-button),
  ion-item:has(ion-textarea) {
    --background: var(--color-neutral-500);
    --padding-bottom: 0rem;
    --padding-end: 0rem;
    --padding-start: 0rem !important;
    --padding-top: 0rem;
    border-radius: 0.625rem;
    border: 0.063rem solid var(--color-neutral-500);
    transition: border-color 0.15s;

    ion-icon[slot="start"] {
      margin-left: 1.25rem !important;
      font-size: 0.875rem;
    }

    ion-icon[slot="end"] {
      margin-left: 1.25rem !important;
      font-size: 0.875rem;
    }

    ion-input, ion-text-area {
      --color: var(--color-neutral-50);
      --placeholder-color: var(--color-neutral-400);
      --padding-top: 1.25rem;
      --padding-bottom: 1.25rem;
      --padding-start: 1.563rem !important;
      --padding-end: 1.563rem;
      font-size: 0.875rem;
    }

    ion-input[labelPlacement="floating"] {
      --padding-top: 0rem !important;
      --padding-bottom: 0rem;
    }

    ion-input.ion-invalid {
      .input-wrapper {
        border-color: var(--color-red-200);
      }
    }

    ion-input[sm] {
      --padding-bottom: 0.938rem;
      --padding-end: 1.25rem;
      --padding-start: 1.25rem;
      --padding-top: 0.938rem;

      font-size: 0.625rem;
    }

    ion-input[special] {
      --padding-bottom: 0.938rem;
      --padding-end: 1.25rem;
      --padding-start: 1.25rem;
      --padding-top: 0.938rem;

      font-size: 1.625rem;
      text-align: center;
      text-transform: uppercase;
    }

    ion-datetime-button::part(native) {
      background: transparent;
      font-size: 0.875rem;
      margin-left: 1rem !important;
    }
  }

  ion-item:has(ion-input):has(ion-icon[slot="start"]) {
    ion-input {
      --padding-start: 0 !important;
    }
  }
  ion-item:has(ion-input):has(ion-icon[slot="end"]) {
    ion-input {
      --padding-end: 0 !important;
    }
  }

  ion-item:has(ion-input.has-focus) {
    border-color: var(--color-neutral-400);
    transition: all 0.15s;
  }

  ion-item:has(ion-input[outline]) {
    --background: transparent;
    border-radius: 5rem;
    border: 0.063rem solid var(--color-neutral-500);
  }

  /** ION-BUTTON **/

  ion-button {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    line-height: 1rem;
  }

  ion-button[sm] {
    --padding-bottom: 0rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 0rem;
    --border-radius: 0.5rem;
  }

  ion-button[xs] {
    --padding-bottom: 0.5rem;
    --padding-end: 0.5rem;
    --padding-start: 0.5rem;
    --padding-top: 0.5rem;
    --border-radius: 0.5rem;
    height: auto;

    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.825rem; /* 133.333% */
    letter-spacing: 0.5px;
  }

  ion-button[size="lg"] {
    --padding-bottom: 1.563rem;
    --padding-end: 2.188rem;
    --padding-start: 2.188rem;
    --padding-top: 1.563rem;
  }

  /** ION-CHIP **/
  ion-chip {
    margin: 0;
  }

  ion-chip.blured,
  ion-chip.dark {
    font-weight: 500;
    padding: 4px 6px;
    padding-right: 10px;
    font-size: 0.75rem;
    height: auto;

    ion-icon {
      font-size: 0.75rem;
      margin-left: 2px;
      margin-right: 4px;
    }
  }

  ion-chip.xl {
    font-size: 1.125rem;

    ion-icon {
      font-size: 1.125rem;
    }
  }

  ion-chip.blured {
    --color: var(--color-neutral-50);
    --background: rgba(var(--color-neutral-200), 0.16);
    backdrop-filter: blur(50px);
  }

  ion-chip.dark {
    --background: var(--color-neutral-600);
    --color: var(--color-neutral-50);
    margin: 0;
    text-transform: uppercase;
  }

  /** CARD **/
  ion-card.easycard {
    border-radius: 15px;
    margin: 0;
  }

  /** LABEL **/
  .label-lg {
    font-size: 1rem;
    font-size: 400;
  }

  /** TYPHOGRAFY **/
  .title-big {
    color: var(--color-neutral-50);

    /* Headings/H2 */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem; /* 112.5% */
  }

  .paragraph {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    > .title {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px; /* 100% */
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }
    > .description {
      color: var(--color-neutral-300);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }
  }
}

ion-datetime {
  --background: var(--color-neutral-500);
  --wheel-fade-background-rgb: 50, 50, 50;
  --wheel-highlight-background: var(--color-neutral-600);
}

// ion-datetime::part(calendar-day) {
  .calendar-day {
    font-size: 14px !important;
  }
// }

ion-picker-internal {
  background: black;
}

.bg {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
  background: linear-gradient(153deg, #7f32cd 0%, #050209 50%);
}

ion-searchbar {
  --background: rgba(190, 190, 190, 0.16) !important;
  --color: var(--neutral-50-brand, #fafafa) !important;
  --border-radius: 3rem !important;
  --icon-color: var(--neutral-50-brand, #fafafa) !important;
  --clear-button-color: var(--neutral-50-brand, #fafafa) !important;

  input {
    padding-inline-start: 2.875rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  ion-icon {
    margin-inline-start: 0.75rem !important;
  }

  button {
    inset-inline-end: 1rem !important;
  }
}

:root {
  .datetime-buttons {
    border: none !important;
  }
}

ion-fab-button.button {
  --background: rgba(190, 190, 190, 0.16) !important;
  --background-activated: rgba(190, 190, 190, 0.16) !important;
}