.absolute {
  position: absolute;
}

@for $value from 0 through 48 {
  .bottom-#{$value} {
    bottom: #{$value * 4}px;
  }
}

@for $value from 0 through 48 {
  .top-#{$value} {
    top: #{$value * 4}px;
  }
}

@for $value from 0 through 48 {
  .left-#{$value} {
    left: #{$value * 4}px;
  }
}

@for $value from 0 through 48 {
  .right-#{$value} {
    right: #{$value * 4}px;
  }
}

.relative {
  position: relative;
}

.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-full {
  width: 100%;
}

@for $value from 0 through 48 {
  .w-#{$value} {
    width: #{$value * 4}px;
  }
}

.h-full {
  height: 100%;
}

@for $value from 0 through 48 {
  .h-#{$value} {
    height: #{$value * 4}px;
  }
}

.uppercase {
  text-transform: uppercase !important;
}
.text-none {
  text-transform: none !important;
}

.rounded {
  border-radius: 3rem;
}

/** FLEX PROPERTIES **/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

@for $value from 0 through 48 {
  .flex-#{$value} {
    flex: #{$value};
  }
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

@for $value from 0 through 48 {
  .gap-#{$value} {
    gap: #{$value * 4}px;
  }
}

/** MARGIN **/

.m-0-auto {
  margin: 0 auto;
}

@for $value from 0 through 40 {
  $v: calc($value * 4 / 16);
  $positions: "left", "right", "top", "bottom";
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$value} {
      margin-#{$position}: #{$v}rem;
    }
    .m#{str-slice($position, 0, 1)}--#{$value} {
      margin-#{$position}: -#{$v}rem;
    }

    .m#{str-slice($position, 0, 1)}-#{$value}-i {
      margin-#{$position}: #{$v}rem !important;
    }
    .m#{str-slice($position, 0, 1)}--#{$value}-i {
      margin-#{$position}: -#{$v}rem !important;
    }
  }

  .m-#{$value} {
    margin: #{$v}rem;
  }

  .my-#{$value} {
    margin-top: #{$v}rem;
    margin-bottom: #{$v}rem;
  }

  .mx-#{$value} {
    margin-left: #{$v}rem;
    margin-right: #{$v}rem;
  }

  .m--#{$value} {
    margin: -#{$v}rem;
  }

  .my--#{$value} {
    margin-top: -#{$v}rem;
    margin-bottom: -#{$v}rem;
  }

  .mx--#{$value} {
    margin-left: -#{$v}rem;
    margin-right: -#{$v}rem;
  }

  .mx-#{$value}-i {
    margin-left: #{$v}rem !important;
    margin-right: #{$v}rem !important;
  }

  .m--#{$value}-i {
    margin: -#{$v}rem !important;
  }

  .my--#{$value}-i {
    margin-top: -#{$v}rem !important;
    margin-bottom: -#{$v}rem !important;
  }

  .mx--#{$value}-i {
    margin-left: -#{$v}rem !important;
    margin-right: -#{$v}rem !important;
  }
}

/** PADDING **/
@for $value from 0 through 40 {
  $v: calc($value * 4 / 16);
  $positions: "left", "right", "top", "bottom";
  @each $position in $positions {
    .p#{str-slice($position, 0, 1)}-#{$value} {
      padding-#{$position}: #{$v}rem;
    }
    .p#{str-slice($position, 0, 1)}-#{$value}-i {
      padding-#{$position}: #{$v}rem !important;
    }
  }

  .p-#{$value} {
    padding: #{$v}rem;
  }

  .py-#{$value} {
    padding-top: #{$v}rem;
    padding-bottom: #{$v}rem;
  }

  .px-#{$value} {
    padding-left: #{$v}rem;
    padding-right: #{$v}rem;
  }

  .p-#{$value}-i {
    padding: #{$v}rem !important;
  }

  .py-#{$value}-i {
    padding-top: #{$v}rem !important;
    padding-bottom: #{$v}rem !important;
  }

  .px-#{$value}-i {
    padding-left: #{$v}rem !important;
    padding-right: #{$v}rem !important;
  }
}

.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
