ion-content.login {
  --background: url(../../../assets/feedback-bkg.png);
}

.modal-content {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: var(--color-neutral-600);
  border-radius: 2rem 2rem 0 0;
  position: absolute;
  bottom: 0;
  max-height: 70%;
  width: 100%;
}

.header {
  height: 30%;
  display: flex;
  align-items: center;

  > img {
    margin: 0 auto;
  }
}

#forgot-password-button {
  font-size: 0.625rem;
  text-align: right;
  margin: 0;
}
