<div class="list-header" *ngIf="title">
	<div class="title">{{title}}</div>
</div>
<swiper-container pagination="false"
	slides-per-view="auto"
	free-mode="true">
	<swiper-slide *ngFor="let party of parties" (click)="partyClick.emit(party)">
		<div class="party-card mr-3">
			<party-card [party]="party"></party-card>
		</div>
	</swiper-slide>
	<swiper-slide *ngIf="!parties.length" style="width: 100%;">
		<easy-thats-all message="Nessun evento trovato"></easy-thats-all>
	</swiper-slide>
	<swiper-slide *ngIf="rightText"
		class="more">
		<div (click)="rightButton.emit()"
			class="show-more">
			<div class="ion-text-center">{{rightText}}</div>
		</div>
	</swiper-slide>
</swiper-container>
