<div [ngStyle]="{ height: options.height || 'auto' }"
	class="square">
	<div class="content">
		<ion-card [button]="button"
			[ngStyle]="{ backgroundImage: 'url('+ party?.cover?.url +')' }"
			class="easycard">
			<div *ngIf="!options.hideHeader"
				class="header">
				<div>
					<ion-chip class="blured">
						<ion-icon *ngIf="distance"
							color="light"
							name="location"></ion-icon>
						<ion-label>
							{{distance.toFixed(1)}} km
						</ion-label>
					</ion-chip>
				</div>
				<div *ngIf="authManager.isAuthenticated()"
					class="ion-text-right">
					<div (click)="onBookmarkClick($event)"
						class="fab">
						<ion-icon [name]="!!party?.saved ? 'bookmark' : 'bookmark-outline'"
							color="light"></ion-icon>
						<!-- <span>SALVATO!</span> -->
					</div>
				</div>
			</div>
			<div [ngClass]="{ mergeWithBg: !!options.mergeWithBg }"
				class="footer">
				<div>
					<div class="chips-info">
						<ion-chip class="dark">
							<!-- <ion-icon color="light"
								name="calendar-sharp"></ion-icon> -->
							<ion-label>
								{{party?.from | date:'dd LLL'}}
							</ion-label>
						</ion-chip>
						<ion-chip [routerLink]="party?.club?.id ? '/club-detail/' + party?.club?.id : undefined"
							(click)="$event.stopPropagation()"
							class="ml-2-i dark">
							<ion-icon color="light"
								name="location"></ion-icon>
							<ion-label>
								{{party?.club?.name}}
							</ion-label>
						</ion-chip>
					</div>
					<div>
						<!-- <div class="date">
							{{party?.from | date:'dd LLL'}}
						</div> -->
						<div class="info">
							<div class="title">{{party?.title}}</div>
							<!-- <div class="subtitle">
								{{party?.club?.name}}
							</div> -->
						</div>

						<ion-label *ngIf="options.showHours"
							style="color: var(--color-neutral-50)">
							da {{party?.from | date:'HH:mm'}} a {{party?.to | date:'HH:mm'}}
						</ion-label>
					</div>
				</div>
			</div>
		</ion-card>
	</div>
</div>
