<ion-card [button]="button" [ngStyle]="{ backgroundImage: 'url('+ party?.cover?.url +')' }"
	class="easycard">
	<div class="header">
		<div>
			<ion-chip style="zoom: 0.7812;">
				<ion-icon color="light"
					name="location"></ion-icon>
				<ion-label>2 km</ion-label>
			</ion-chip>
		</div>
		<div class="ion-text-right">
			<div class="fab">
				<ion-icon color="light"
					name="bookmark-outline"></ion-icon>
			</div>
		</div>
	</div>
	<div class="footer">
		<div>
			<div class="date">
				{{party?.from | date:'dd LLL'}}
			</div>
			<div class="info">
				<div class="title">{{party?.title}}</div>
				<div class="subtitle">
					{{party?.club?.name}}
				</div>
			</div>
		</div>
	</div>
</ion-card>
