ion-content {
  --background: transparent !important;

  .cursor-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .cursor {
      border-radius: 8px;
      border: 2px solid var(--color-neutral-50);
      margin: 0 auto;
      width: 60vw;
      height: 60vw;
    }
  }
}

::ng-deep {
  :root {
    //--ion-background-color: transparent !important;
    body.barcode-scanner-active {
      --background: transparent;
      --ion-background-color: transparent;
    }
  }
}
