<ion-content [fullscreen]="true">
	<div class="header px-4">
		<div class="pager flex item-center gap-1 px-1">
			<div *ngFor="let story of stories; let i = index"
				[ngClass]="{ 'active': i < currentIndex }">
				<ion-progress-bar *ngIf="i < currentIndex"
					[value]="1"
					color="light"></ion-progress-bar>
				<ion-progress-bar *ngIf="i == currentIndex"
					[value]="currentProgress"
					color="light"></ion-progress-bar>
			</div>
		</div>
	</div>
	<swiper-container #swiper
		*ngIf="stories"
		id="stories-slider"
		allow-touch-move="false">
		<swiper-slide *ngFor="let story of stories"
			[id]="story.id"
			(touchstart)="pause()"
			(touchend)="resume()">
			<div class="header px-4">
				<div class="flex space-between mt-3">
					<ion-chip [outline]="true"
						color="light">
						Start {{story.party.from | date:'HH:mm'}}
					</ion-chip>
					<ion-chip [outline]="true"
						color="light">
						End {{story.party.to | date:'HH:mm'}}
					</ion-chip>
				</div>
			</div>
			<div *ngIf="isImage(story)"
				[ngStyle]="{ 'background': 'url('+ story.attachment.url +') center center no-repeat' }"
				class="z-500"
				id="img-story"></div>
			<video #video
				*ngIf="!isImage(story)"
				(click)="video.paused? video.play() : video.pause()"
				class="z-500"
				poster="assets/icons/loading.svg"
				autoplay>
				<source [src]="story.attachment.url"
					[type]="story.attachment.mimeType">
				Your browser does not support the video tag.
			</video>
			<div class="absolute w-full h-full top-0 left-0 flex items-center z-510">
				<div (click)="prev()"
					id="prev-story"
					class="flex-1"></div>
				<div (click)="next()"
					id="next-story"
					class="flex-1"></div>
			</div>

			<div class="footer p-4 flex space-between z-600">
				<div>
					<ion-chip class="dark xl">
						<ion-icon color="light"
							name="location"></ion-icon>
						<ion-label>
							{{getClubName(story) || '-'}}
						</ion-label>
					</ion-chip>
					<div class="title mt-2">
						{{story.party.title}}
					</div>
				</div>
				<div class>
					<users-widget *ngIf="authManager.user"
						[users]="[authManager.user]"></users-widget>
					<div class="stories-buttons">
						<ion-fab-button size="small">
							<ion-icon name="heart-outline"></ion-icon>
						</ion-fab-button>
						<!-- <ion-fab-button size="small">
							<ion-icon name="share-outline"></ion-icon>
						</ion-fab-button> 
						<ion-fab-button size="small">
							<ion-icon name="ellipsis-vertical"></ion-icon>
						</ion-fab-button> -->
						<ion-fab-button *ngIf="story.createdBy && authManager.user?.uuid && story.createdBy == authManager.user?.uuid"
							(click)="pause();modal.present();"
							size="small">
							<ion-icon name="trash-outline"></ion-icon>
						</ion-fab-button>
					</div>

				</div>
			</div>
		</swiper-slide>
	</swiper-container>
	<div *ngIf="!stories?.length"
		id="no-stories">
		<easy-thats-all [message]="'Non ci sono storie per ora...'"></easy-thats-all>
	</div>
</ion-content>

<ion-modal #modal
	(didDismiss)="resume();"
	id="full-immersion-modal"
	trigger="open-custom-dialog">
	<ng-template>
		<div class="wrapper p-8">
			<div class="title">Elimina storia</div>
			<div class="my-10 subtitle">
				Sei sicuro di voler eliminare la storia?
			</div>
			<div style="display: flex; align-items: center; gap: 1rem">
				<ion-button (click)="modal.dismiss()"
					shape="round"
					color="dark"
					expand="block">
					Annulla
				</ion-button>
				<ion-button (click)="deleteStory(swiperRef?.nativeElement?.swiper.slides[this.currentIndex].id);modal.dismiss();"
					class="mt-2"
					shape="round"
					color="primary"
					expand="block">
					Conferma
				</ion-button>
			</div>
		</div>
	</ng-template>
</ion-modal>
