ion-content {
  --background: linear-gradient(
    -20deg,
    rgba(5, 2, 9, 1) 64%,
    rgba(127, 50, 205, 1) 112%
  );
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-bottom: calc(75px + var(--ion-safe-area-bottom));
}

ion-title {
  .subtitle {
    color: var(--color-neutral-400, #6e6e6e);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 183.333% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .title {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 1.6px;
  }
}
