<ion-content [fullscreen]="true">
	<ion-header class="ion-no-border transparent absolute">
		<ion-toolbar class="p-6 pl-0-i">
			<ion-buttons slot="start">
				<ion-button (click)="goBack()"
					color="light"
					size="icon-only"
					fill="clear">
					<ion-icon name="arrow-back-sharp"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title>RIEPILOGO</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="px-4 mt-18 pb-17">
		<div class="flex space-between">
			<div id="tabel-info">
				<div class="table-label">TAVOLO</div>
				<div class="table-value">{{table?.name}}</div>
			</div>
		</div>
		<div class="mt-14">
			<table id="order-summary">
				<thead>
					<tr>
						<th>Quantità</th>
						<th>Prodotto</th>
						<th>Prezzo</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of cart?.getItems() ">
						<td class="left">{{product.qty}}</td>
						<td class="title">
							{{product.item.name}}
						</td>
						<td class="right">
							{{(product.item.price / 100) | currency:'€'}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-16 pt-16"
			style="border-top: 1px solid #5C5C5C"></div>
		<div class="flex space-between">
			<div class="flex-1">
				<div class="total-label">TOTALE</div>
				<div class="total-subtitle">
					*Totale da pagare all’interno del locale
				</div>
			</div>
			<div class="total-price">
				{{(cart?.total || 0) / 100 | currency:'€'}}
			</div>
		</div>
	</div>

	<div class="ion-text-center"
		id="order-button">
		<ion-button [disabled]="(cart?.totalQty || 0) === 0 || (cart?.total || 0) < (table?.minimumBill || 0)"
			(click)="next()"
			size="lg"
			shape="round"
			expand="full"
			color="primary">
			ORDINA
		</ion-button>
	</div>

</ion-content>
