<ion-header #header
	id="search-header"
	class="ion-no-border">
	<ion-toolbar>
		<ion-searchbar [showClearButton]="'always'"
			[debounce]="500"
			[placeholder]="'Cerca...'"
			(ionInput)="onChange($event)"
			class="mt-4"
			clearIcon="close-outline"></ion-searchbar>
	</ion-toolbar>
</ion-header>
<div #wrapper
	*ngIf="searchTerm"
	id="search-wrapper">
	<div id="filters"
		class="flex gap-3">
		<ion-button [fill]="filterType == 'all' ? undefined : 'outline'"
			[color]="filterType == 'all' ? 'dark' : 'light'"
			(click)="filter('all')"
			xs
			color="dark">
			Tutti
		</ion-button>
		<!-- <ion-button xs
			color="dark">
			Luogo
		</ion-button> -->
		<ion-button [fill]="filterType == 'clubs' ? undefined : 'outline'"
			[color]="filterType == 'clubs' ? 'dark' : 'light'"
			(click)="filter('clubs')"
			xs
			color="dark">
			Club
		</ion-button>
		<ion-button [fill]="filterType == 'parties' ? undefined : 'outline'"
			[color]="filterType == 'parties' ? 'dark' : 'light'"
			(click)="filter('parties')"
			xs
			color="dark">
			Evento
		</ion-button>
	</div>
	<div>
		<ion-list id="search-list"
			class="mt-5">
			<ion-item *ngFor="let party of parties"
				[routerLink]="'/event-detail/' + party.id"
				[detail]="false"
				lines="full">
				<ion-avatar slot="start">
					<img [alt]="party.title"
						[src]="party.cover.url">
				</ion-avatar>
				<ion-label>
					<div class="date">
						{{party.from | date:'dd/MM/yyyy HH:mm'}}
					</div>
					<div class="title">{{party.title}}</div>
					<div class="subtitle">
						{{party.club?.name}}
					</div>
				</ion-label>
			</ion-item>
			<ion-item *ngFor="let club of clubs"
				[detail]="false"
				[routerLink]="'/club-detail/' + club.id"
				lines="full">
				<ion-avatar slot="start">
					<img [alt]="club.name"
						[src]="club.profile?.url">
				</ion-avatar>
				<ion-label>
					<div class="title">{{club.name}}</div>
					<div class="subtitle">
						{{club.address?.city}}
					</div>
				</ion-label>
			</ion-item>
		</ion-list>
	</div>
</div>
