<ion-header class="ion-no-border transparent absolute">
	<ion-toolbar class="p-6 pl-0-i">
		<ion-buttons slot="start">
			<ion-button (click)="goBack()"
				color="light"
				size="icon-only"
				fill="clear">
				<ion-icon name="arrow-back-sharp"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="image-header relative">
		<!-- <ion-fab vertical="top"
			horizontal="end">
			<ion-fab-button color="dark" size="small">
				<ion-icon name="log-out-outline" style="font-size: 1.25rem;"></ion-icon>
			</ion-fab-button>
		</ion-fab> -->
		<ion-skeleton-text *ngIf="!user?.profileImage"
			[animated]="true"
			animated="true"
			style="height: 100%;"></ion-skeleton-text>
		<swiper-container *ngIf="user?.profileImage"
			pagination="false"
			slides-per-view="1"
			space-between="0">
			<swiper-slide *ngFor="let img of [user?.profileImage]"
				[ngStyle]="{ backgroundImage: 'linear-gradient(180deg, transparent 0%, black 100%), url(' + img?.url + ')'}">

			</swiper-slide>
		</swiper-container>
		<div class="flex align-center space-between absolute w-full px-4"
			style="bottom: 12px; z-index: 1;">
			<div class="info-user">
				<div class="fullname">
					{{user?.firstName}} {{user?.lastName}}
				</div>
			</div>
		</div>
	</div>
	<div class="px-4">

		<div class="flex gap-2 ">
			<ion-button color="dark"
				class="w-full">
				229
				<ion-icon name="people"
					slot="end"></ion-icon>
			</ion-button>
			<ion-button color="light"
				class="w-full">
				MODIFICA
			</ion-button>
		</div>

		<!-- USER BIO -->
		<div class="paragraph mt-12">
			<div class="title">Su di me</div>
			<div *ngIf="!user"
				class="w-full">
				<ion-skeleton-text animated="true"></ion-skeleton-text>
				<ion-skeleton-text animated="true"></ion-skeleton-text>
				<ion-skeleton-text animated="true"></ion-skeleton-text>
				<ion-skeleton-text animated="true"></ion-skeleton-text>
			</div>
			<div *ngIf="user"
				class="description">
				{{user.description}}
			</div>
		</div>

		<!-- USERS INTERESTS -->
		<div class="paragraph mt-12">
			<div class="title">Tags</div>
			<div *ngIf="!user"
					class="w-full flex gap-2">
					<div class="w-30">
						<ion-skeleton-text class="h-5 rounded"
							animated="true"></ion-skeleton-text>
					</div>
					<div *ngIf="!user"
						class="w-25">
						<ion-skeleton-text class="h-5 rounded"
							animated="true"></ion-skeleton-text>
					</div>
					<div *ngIf="!user"
						class="w-40">
						<ion-skeleton-text class="h-5 rounded"
							animated="true"></ion-skeleton-text>
					</div>
				</div>
			<div class="description w-full">
				<ion-chip *ngFor="let tag of user?.tags"
					[outline]="true"
					class="mr-2-i mt-2-i"
					color="light">
					{{tag}}
				</ion-chip>
			</div>
		</div>

		<!-- USER CONTACTS -->
		<div class="paragraph mt-12 w-full">
			<div class="title">Contatti</div>
			<div class="description w-full mt-1">
				<div *ngIf="!user"
					class="w-full">
					<ion-skeleton-text animated="true"></ion-skeleton-text>
				</div>
				<div *ngIf="!user"
					class="w-full">
					<ion-skeleton-text animated="true"></ion-skeleton-text>
				</div>
				<div *ngIf="user"
					class="w-full">
					<div *ngIf="user.socials?.['instagram']"
						class="mt-1">
						<ion-icon name="logo-instagram"></ion-icon>
						{{user.socials?.['instagram']?.username}}
					</div>
					<div *ngIf="user?.socials?.['facebook']"
						class="mt-1">
						<ion-icon name="logo-facebook"></ion-icon>
						{{user.socials?.['facebook']?.username}}
					</div>
				</div>
			</div>
		</div>

		<div class="mt-12">
			<ion-button (click)="logout()"
				color="dark"
				shape="round"
				expand="block">
				LOGOUT
				<ion-icon name="log-out-outline"
					slot="end"></ion-icon>
			</ion-button>
		</div>
	</div>

</ion-content>
