<ion-header class="ion-no-border transparent absolute">
	<ion-toolbar class="py-6">
		<ion-buttons slot="start">
			<ion-fab-button (click)="goBack()"
				class="button m-3 mr-0-i w-9 h-9"
				routerDirection="back">
				<ion-icon name="arrow-back"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button>
			<!-- <ion-button (click)="goBack()"
				color="light"
				size="icon-only"
				fill="clear">
				<ion-icon name="arrow-back-sharp"></ion-icon>
			</ion-button> -->
		</ion-buttons>
		<ion-buttons [slot]="'end'">
			<!-- <ion-fab-button [routerLink]="'/full-immersion/orders'"
				class="button m-3 w-9 h-9">
				<ion-icon name="cart-outline"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button> -->
			<div *ngIf="isMe">
				<ion-fab-button (click)="share()"
					class="button m-3 w-9 h-9">
					<ion-icon name="share-outline"
						style="font-size: 1rem;"></ion-icon>
				</ion-fab-button>
				<ion-fab-button (click)="optionsModal.present()"
					class="button m-3 w-9 h-9">
					<ion-icon name="options-outline"
						style="font-size: 1rem;"></ion-icon>
				</ion-fab-button>
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="image-header relative">
		<ion-skeleton-text *ngIf="!user?.profileImage"
			[animated]="true"
			animated="true"
			style="height: 100%;"></ion-skeleton-text>
		<swiper-container #swiper
			*ngIf="user?.profileImage"
			pagination="false"
			slides-per-view="1"
			space-between="0">
			<swiper-slide *ngFor="let img of [user?.profileImage]"
				[ngStyle]="{ backgroundImage: 'linear-gradient(180deg, transparent 0%, black 100%), url(' + img?.url + ')'}"
				class="flex align-center justify-end">
			</swiper-slide>
		</swiper-container>
		<div class="flex align-center space-between absolute w-full px-4"
			style="bottom: 12px; z-index: 1;">
			<div class="info-user">
				<div class="fullname">
					{{user?.firstName}} {{user?.lastName}}
				</div>
			</div>
		</div>
	</div>

	<profile-detail #profileDetail
		*ngIf="!isEditingMode"
		[user]="user"
		[isMe]="isMe"
		(edit)="isEditingMode = true"></profile-detail>

	<profile-edit *ngIf="isEditingMode"
		[user]="user"
		(saved)="isEditingMode = false"></profile-edit>

	<div *ngIf="isMe && !isEditingMode"
		class="mt-12 px-4 flex align-center">
		<ion-button (click)="logout()"
			class="flex-1"
			color="dark"
			shape="round"
			expand="block">
			LOGOUT
			<ion-icon name="log-out-outline"
				slot="end"></ion-icon>
		</ion-button>
	</div>

	<ion-modal [isOpen]="isOpenDeleteUserModal"
		class="dialog">
		<ng-template>
			<div class="p-4">
				<div class="bold pb-4 ion-text-center">
					{{'APP.PROFILE.DELETE_USER_TITLE' | translate}}
				</div>
				<div class="ion-text-center pb-4">
					{{'APP.PROFILE.DELETE_USER_SUBTITLE' | translate}}
				</div>
				<div class="flex items-center gap-4">
					<ion-button (click)="isOpenDeleteUserModal = false"
						fill="clear"
						color="danger">
						{{'APP.PROFILE.CANCEL' | translate}}
					</ion-button>
					<ion-button (click)="confirmDeleteUser()">
						{{'APP.PROFILE.CONFIRM' | translate}}
					</ion-button>
				</div>
			</div>
		</ng-template>
	</ion-modal>

	<ion-modal #optionsModal
		class="auto-height bottom default">
		<ng-template>
			<div class="p-4">
				<h3>{{'APP.PROFILE.USER_OPTIONS' | translate}}</h3>
				<ion-item lines="none">
					<ion-label>{{'APP.PROFILE.ENABLE_NOTIFICATIONS' | translate}}</ion-label>
					<ion-toggle [(ngModel)]="options.enableNotification"
						(ngModelChange)="setEnableNotification()"></ion-toggle>
				</ion-item>
				<ion-item (click)="isOpenDeleteUserModal = true"
					style="border-top: 1px solid white;"
					class="mt-4"
					lines="none">
					<ion-label>
						<ion-text color="danger">
							{{'APP.PROFILE.DELETE_USER' | translate}}
						</ion-text>
					</ion-label>
				</ion-item>
				<div class="ion-text-right">
					<small>v{{version}}</small>
				</div>
			</div>
		</ng-template>
	</ion-modal>

</ion-content>
