<ion-header class="ion-no-border transparent absolute">
	<ion-toolbar class="py-6">
		<ion-buttons slot="start">
			<ion-fab-button (click)="goBack()"
				class="button m-3 mr-0-i w-9 h-9"
				routerDirection="back">
				<ion-icon name="arrow-back"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button>
			<!-- <ion-button (click)="goBack()"
				color="light"
				size="icon-only"
				fill="clear">
				<ion-icon name="arrow-back-sharp"></ion-icon>
			</ion-button> -->
		</ion-buttons>
		<ion-buttons [slot]="'end'">
			<ion-fab-button [routerLink]="'/full-immersion/orders'"
				class="button m-3 w-9 h-9">
				<ion-icon name="cart-outline"
					style="font-size: 1rem;"></ion-icon>
			</ion-fab-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="image-header relative">
		<ion-skeleton-text *ngIf="!user?.profileImage"
			[animated]="true"
			animated="true"
			style="height: 100%;"></ion-skeleton-text>
		<swiper-container #swiper
			*ngIf="user?.profileImage"
			pagination="false"
			slides-per-view="1"
			space-between="0">
			<swiper-slide *ngFor="let img of [user?.profileImage]"
				[ngStyle]="{ backgroundImage: 'linear-gradient(180deg, transparent 0%, black 100%), url(' + img?.url + ')'}"
				class="flex align-center justify-end">
			</swiper-slide>
		</swiper-container>
		<div class="flex align-center space-between absolute w-full px-4"
			style="bottom: 12px; z-index: 1;">
			<div class="info-user">
				<div class="fullname">
					{{user?.firstName}} {{user?.lastName}}
				</div>
			</div>
		</div>
	</div>

	<profile-detail *ngIf="!isEditingMode"
		[user]="user"
		[isMe]="isMe"
		(edit)="isEditingMode = true"></profile-detail>

	<profile-edit *ngIf="isEditingMode"
		[user]="user"
		(saved)="isEditingMode = false"></profile-edit>

	<div
		class="mt-12 px-4" *ngIf="isMe">
		<ion-button (click)="logout()"
			color="dark"
			shape="round"
			expand="block">
			LOGOUT
			<ion-icon name="log-out-outline"
				slot="end"></ion-icon>
		</ion-button>
		<ion-button (click)="isOpenDeleteUserModal = true"
			color="danger"
			fill="clear"
			shape="round"
			expand="block">
			ELIMINA UTENTE
		</ion-button>
	</div>

	<ion-modal [isOpen]="isOpenDeleteUserModal"
		class="dialog">
		<ng-template>
			<div class="p-4">
				<div class="bold pb-4 ion-text-center">
					Vuoi realmente eliminare l'account?
				</div>
				<div class="ion-text-center pb-4">
					Procedendendo non sarà più possibile recuperare i dati del tuo account!
				</div>
				<div class="flex items-center gap-4">
					<ion-button (click)="isOpenDeleteUserModal = false"
						fill="clear"
						color="danger">
						Annulla
					</ion-button>
					<ion-button (click)="confirmDeleteUser()">Conferma</ion-button>
				</div>
			</div>
		</ng-template>
	</ion-modal>

</ion-content>