<ion-content [fullscreen]="true">
	<ion-header class="ion-no-border transparent absolute">
		<ion-toolbar class="p-6 pl-0-i">
			<ion-buttons slot="start">
				<ion-button (click)="goBack()"
					color="light"
					size="icon-only"
					fill="clear">
					<ion-icon name="arrow-back-sharp"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title>ORDINE</ion-title>
		</ion-toolbar>
	</ion-header>
	<div id="list" class="px-4 mt-18 pb-17">
		<div class="flex space-between">
			<div id="tabel-info">
				<div class="table-label">TAVOLO</div>
				<div class="table-value">{{table?.name}}</div>
			</div>
			<div id="order-info">
				<div class="total-label">
					TOTALE X{{cart?.totalQty || 0}}
				</div>
				<div class="total-value">
					{{(cart?.total || 0) / 100 | currency:'€'}}
				</div>
				<div *ngIf="table?.minimumBill"
					class="info-label">
					* Ordine minimo {{((table?.minimumBill || 0) / 100) | currency:'€'}}
				</div>
			</div>
		</div>
		<div id="products"
			class="mt-5 mb-20">
			<div *ngFor="let product of party?.products"
				[ngClass]="{ active: cart?.getQty(product) || 0 > 0 }"
				class="product">
				<div style="width: 60%;">
					<div>{{product.name}}</div>
					<div class="price mt-1">{{(product.price / 100) | currency:'€'}}</div>
				</div>
				<div class="flex align-center">
					<ion-button *ngIf="cart?.getQty(product) || 0 > 0"
						(click)="cart?.add(product, -1)"
						class="flex-1"
						fill="clear"
						color="medium"
						size="icon-only">
						<ion-icon name="remove">
							{{product.price | currency:'€'}}
						</ion-icon>
					</ion-button>
					<div *ngIf="cart?.getQty(product) || 0 > 0">
						{{cart?.getQty(product)}}
					</div>
					<ion-button (click)="cart?.add(product, 1)"
						class="flex-1"
						color="medium"
						fill="clear"
						size="icon-only">
						<ion-icon name="add"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>
	</div>

	<div class="ion-text-center"
		id="order-button">
		<ion-button [disabled]="(cart?.totalQty || 0) === 0 || (cart?.total || 0) < (table?.minimumBill || 0)"
			(click)="next()"
			size="lg"
			shape="round"
			style="width: 70%"
			color="primary">
			ORDINE ({{cart?.totalQty}})
		</ion-button>
	</div>

</ion-content>
