ion-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 1.6px;
}

ion-content {
  --background: linear-gradient(
      116deg,
      rgba(127, 50, 205, 0.6) 0%,
      rgba(5, 2, 9, 0.6) 100%
    ),
    #050209;

  #tabel-info {
    .table-label {
      color: var(--color-neutral-300);

      /* Subtitle/UPPERCASE */
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 128.571% */
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .table-value {
      /* Headings/H2 */
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 112.5% */
    }
  }

  #order-info {
    text-align: right;

    .total-label {
      color: var(--color-neutral-300);

      /* Subtitle/UPPERCASE */
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 128.571% */
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .total-value {
      /* Headings/H2 */
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 112.5% */
    }
    .info-label {
      color: var(--color-red-200, #fa4d56);

      /* Body/Secondary-12 */
      font-family: Space Grotesk;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;
    }
  }

  #products {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    width: 100%;
  }

  .product {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: rgba(190, 190, 190, 0.08);
  }

  .product.active {
    background: rgba(190, 190, 190, 0.16);
  }
}

#order-button {
  position: fixed;
  width: 100%;
  bottom: 80px;
}
