<div *ngIf="user"
	class="px-4">

	<div class="flex gap-2 ">
		<ion-button (click)="openUsersList('follower', followersModal)"
			color="dark"
			class="w-full">
			{{user.followers ?? '-'}}
			<ion-icon name="people"
				slot="end"></ion-icon>
		</ion-button>
		<ion-button (click)="openUsersList('followed', followedModal)"
			color="dark"
			class="w-full">
			{{user.following ?? '-'}}
			<ion-icon name="people"
				slot="end"></ion-icon>
		</ion-button>
		<ion-button *ngIf="isMe"
			(click)="edit.emit()"
			color="primary"
			class="w-full">
			MODIFICA
		</ion-button>
		<ng-container *ngIf="!isMe">
			<ion-button *ngIf="!isFollowing"
				(click)="follow()"
				color="primary"
				class="w-full">
				SEGUI
			</ion-button>
			<ion-button *ngIf="isFollowing"
				(click)="unfollow()"
				color="dark"
				class="w-full">
				Seguito
			</ion-button>

		</ng-container>
	</div>

	<!-- USER BIO -->
	<div class="paragraph mt-12">
		<div class="title">Su di me</div>
		<div *ngIf="!user"
			class="w-full">
			<ion-skeleton-text animated="true"></ion-skeleton-text>
			<ion-skeleton-text animated="true"></ion-skeleton-text>
			<ion-skeleton-text animated="true"></ion-skeleton-text>
			<ion-skeleton-text animated="true"></ion-skeleton-text>
		</div>
		<div *ngIf="user"
			class="description">
			{{user.description}}
		</div>
	</div>

	<!-- USERS INTERESTS -->
	<div class="paragraph mt-12">
		<div class="title">Tags</div>
		<div *ngIf="!user"
			class="w-full flex gap-2">
			<div class="w-30">
				<ion-skeleton-text class="h-5 rounded"
					animated="true"></ion-skeleton-text>
			</div>
			<div *ngIf="!user"
				class="w-25">
				<ion-skeleton-text class="h-5 rounded"
					animated="true"></ion-skeleton-text>
			</div>
			<div *ngIf="!user"
				class="w-40">
				<ion-skeleton-text class="h-5 rounded"
					animated="true"></ion-skeleton-text>
			</div>
		</div>
		<div class="description w-full">
			<ion-chip *ngFor="let tag of user?.tags"
				[outline]="true"
				class="mr-2-i mt-2-i"
				color="light">
				{{tag}}
			</ion-chip>
		</div>
	</div>

	<!-- USER CONTACTS -->
	<div class="paragraph mt-12 w-full">
		<div class="title">Contatti</div>
		<div class="description w-full mt-1">
			<div *ngIf="!user"
				class="w-full">
				<ion-skeleton-text animated="true"></ion-skeleton-text>
			</div>
			<div *ngIf="!user"
				class="w-full">
				<ion-skeleton-text animated="true"></ion-skeleton-text>
			</div>
			<div *ngIf="user"
				class="w-full">
				<div *ngIf="user.email"
					(click)="openOnBrowser('mailto:'+user?.email)"
					class="mt-1 text-none">
					<ion-icon name="mail"></ion-icon>
					{{user.email}}
				</div>
				<div *ngIf="user.socials?.['instagram']"
					(click)="openOnBrowser(user?.socials?.['instagram']?.['link'] + '')"
					class="mt-1 text-none">
					<ion-icon name="logo-instagram"></ion-icon>
					{{user.socials?.['instagram']?.username}}
				</div>
				<div *ngIf="user?.socials?.['facebook']"
					(click)="openOnBrowser(user?.socials?.['facebook']?.['link'] + '')"
					class="mt-1 text-none">
					<ion-icon name="logo-facebook"></ion-icon>
					{{user.socials?.['facebook']?.username}}
				</div>
				<div *ngIf="user?.socials?.['twitter']"
					(click)="openOnBrowser(user?.socials?.['twitter']?.['link'] + '')"
					class="mt-1 text-none">
					<ion-icon name="logo-twitter"></ion-icon>
					{{user.socials?.['twitter']?.username}}
				</div>
			</div>
		</div>
	</div>

	<div class="mt-12 w-full">
		<easy-clubs-grid [clubs]="clubs"></easy-clubs-grid>
	</div>

</div>

<ion-modal #followersModal
	class="auto-height bottom blur">
	<ng-template>
		<div id="users-grid">
			<div *ngFor="let user of followers"
				[routerLink]="'/profile/'+user.id"
				(click)="followersModal.dismiss()"
				class="user-item">
				<ion-avatar style="margin: 0 auto;">
					<img [src]="user.profileImage?.url || 'assets/icons/guy-walk.svg'"
						style="object-fit: cover;">
				</ion-avatar>
				<div class="mt-1"
					style="text-align: center;">
					<small>
						{{user.firstName}} {{user.lastName}}
					</small>
				</div>
			</div>
		</div>
	</ng-template>
</ion-modal>

<ion-modal #followedModal
	class="auto-height bottom blur">
	<ng-template>
		<div id="users-grid">
			<div *ngFor="let user of followed"
				[routerLink]="'/profile/'+user.id"
				(click)="followedModal.dismiss()"
				class="user-item">
				<ion-avatar style="margin: 0 auto;">
					<img [src]="user.profileImage?.url || 'assets/icons/guy-walk.svg'"
						style="object-fit: cover;">
				</ion-avatar>
				<div class="mt-1"
					style="text-align: center;">
					<small>
						{{user.firstName}} {{user.lastName}}
					</small>
				</div>
			</div>
		</div>
	</ng-template>
</ion-modal>
